# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Added by me
*.user
build-p2ptcpclient-Desktop_Qt_6_4_2_GCC_64bit-Debug
build-p2ptcpclient-Desktop_Qt_6_4_1_MinGW_64_bit-Debug
build-p2pchatclient-Desktop_Qt_6_4_2_GCC_64bit-Debug
